//
//COLORS
//
$primary: #d64550;
$secondary: #ff4d4d;
$background: #22323a;
$off-white: #edf2f4;
$hover: #000;
$disabled: #000;
//
//TYPOGRAPHY
//
$font-sm: 16px;
$font-med: 20px;
$font-lg: 24px;
//
//SPACING
//
$spacing-xs: 15px;
$spacing-sm: 25px;
$spacing-lg: 50px;
$inner-spacing: 25px 15px;
$vertical-spacing-sm: 50px;
$vertical-spacing-lg: 100px;
//
//CREATIVE
//
$border-radius: 15px;
